.courseListContainer {
    position: relative;
    top: 90px;
}

.courseText {
    margin: 5%;
    position: relative;
    width: 100%;
    text-align: center;
    top: 60px;
}

.coursesButton {
    margin: 5%;
    position: relative;
    width: 100%;
    text-align: center;
    top: 60px;
}

.onlineClassContainer {
    margin-top: 15%;
}
.partnersContainer {
    margin-top: 15%;
}

.rightArrowSymbol {
    font-weight: 700;
    font-size: 20px;
}